*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
html,
body{
  height: 100%;
  width: 100%;

}
body{
  background-color: rgb(0, 0, 0);
}
.card{
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  background-color:rgb(0, 50, 116);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  
}
.parent{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 50px;
  
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card p{
margin: 20px 0;
}

.but{
 padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  font-style: oblique;
  border: none;
  border: 2px solid rgb(255, 255, 255);
}