*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100vh;
}
button{
  height: 100px;
  width: 200px;
  background-color: gray;
  font-size: xx-large;
  font-weight: 200;
  margin: 20px;
  margin-top: 50px;
  border-radius: 10px;
}
h1{
 font-size: 100px;
 color: white;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  padding: 10px 80px;
  border-radius: 5px;
  margin: 10px;
  margin-left: 150px;
}