*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100vh;
  width: 100%;
  background-color: black;

}
.n,button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
}
