*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
input{
  margin: 10px;
  
  color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 25px;
  font-size: larger;
  border-color: black;
  padding: 10px  20px;


}

.box{
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 12px;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: red;
  
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: rgb(93, 0, 255);

}
.page3{
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 240, 112);

}
